<!DOCTYPE html>
<html lang="en" style="height:100%;background-color: #E08283;">

    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href={{url_for('static', filename='style.css')}} rel="stylesheet" type="text/css">
        <title>Todo List</title>
    </head>

    <body style="height: 50%;display:flex; align-items:center; margin-top:10%; flex-direction:column">
        <div style="border:1px solid black; padding:10%">
            <h1>Liste des choses à faires</h1>
            <div style="height:15px; background-color:#E5E5E5; border-radius:30px">
                <div id="progress" style="height:15px; width:0%;border-radius:30px; text-align:center; color: white"></div>
            </div>
                <ol style="list-style-type:none">
                {% for id, name in todos %}
                        <li style="font-size: larger">
                            <input type="checkbox" onchange='handleChange(this)' id={{id}} name="task" value={{id}}>
                            <label id=task{{id}} for={{id}}>{{name}}</label><br>
                        </li>
                {% else %}
                    <div>Pas de tâche</div>
                {% endfor %}
                </ol>
            <div>
                <button id="add-task-bt" style="padding: 10px;border-radius:10px" onclick="openAddTask()">Ajouter une tache</button>
                <form action={{url_for("add_task")}} method="POST">
                    <div id="new-task-container" style="display:flex; flex-direction:row; display:none">
                        <textarea placeholder="Ajouter une tache" style="padding: 10px;border-radius:10px; width:100%; height:50px" name="new_task"></textarea>
                        <div style="margin-top:10px">
                            <button style="padding: 10px;border-radius:10px;width: 30%;background-color: slategrey; color:white" type="submit">Ajouter</button>
                            <a class="cancel-link" onclick="closeAddTask()" style="padding: 10px;">Annuler</a>
                        </div>
                    </div>
                </form>
            </div>
        </div>
             
        <script src={{url_for('static', filename='script.js')}}></script>
    </body>

</html>